<h2>Sign up for an account!</h2>
<%= form_for :user, url: users_path do |form| %> <!-- sign up form -->
	<input type=text placeholder="Full Name" name="user[full_name]" id="fullname"><br> <!-- user full name string -->
    <input type=text placeholder="Email" name="user[email]" id="email"><br> <!-- user email -->
    <input type=password placeholder="Password" name="user[password]" id="password"></br> <!-- user password encrypted with bcrypt -->
    <%= form.submit :Submit %> <!-- Submit Button -->
<% end %><br>

<%= link_to "Sign up with Facebook", "/auth/facebook", id: "facebook" %> <!-- User can use Facebook OmniAuth to sign in/up  -->